/***************e-header开始****************/
#e-header{
	/*height: 50px;*/
	padding-top: 26px;
}
#e-header h1 a img{
	float: left;
	width: 100px;
	height: 50px;
	margin-bottom: 30px;
}
#e-header .process .p-menus{
	
	float: right;
	padding:20px 0 6px 6px;
}
#e-header .process .p-menus li{
	float: left;
	height: 23px;
	font-size: 14px;
	width: 150px;
	background: #e4e4e4 ;
	color: #404040;
	font-weight: 700;
	margin-right: 15px;
	text-align: center;
}
#e-header .process .p-menus .select1{
    background: #F60;
    color: #fff;
}
#e-header .process .p-menus .sel{
	margin-right: 0px;
}
/***************e-header结束****************/
/***************e-address开始****************/
#e-address{
	margin-bottom: 40px;
    margin-top: 23px;
    clear: both;
}
#e-address h3{
	border-bottom: 2px solid #f1f1f1;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 700;
}
#e-address h3 a{
	float: right;
	color: #36c;
	font-size: 12px;
    font-weight: 400;
}
#e-address .a-menus .a-adr-sel{
	line-height: 32px;
    background-color: #fff0e8;
    border: 1px solid #f50;
    color: #F50;
    font-weight: 700;
    line-height: 
}
#e-address .a-menus .a-adr-sel span{
    margin-left: 20px;
    float: left;
}
#e-address .a-menus .a-adr-sel input{
	display: inline-block;
	width: 13px;
	height: 13px;
	margin-left: 10px;
	float: left;
	margin-top: 10px;
	margin-right: 20px;
}
#e-address .a-menus .addr-info{
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    font-weight: 700;
    font-size: 14px;
    color: #000;
    width: 740px;
    vertical-align: baseline;
    word-wrap: break-word;
    word-break: break-all;
}
#e-address .a-menus .a-adr-tip{
	margin-left: 10px;
    float: right;
	color: #36c;
	font-size: 12px;
    font-weight: 400;
	padding-right: 10px;
	padding-left: 30px;
}
/***************e-address结束****************/
/***************e-info开始****************/
#e-info .wrap{
   line-height: 50px;
}
#e-info .i-table{
	display: block;
	width: 100%;
}
#e-info .i-table thead{
	margin-top: 20px;
}
#e-info .i-table thead tr th{
	height: 24px;
	line-height: 24px;
	text-align: center;
	border-bottom: 3px solid #b2d1ff;
	font-size: 12px;
	width: 199px;
	margin-bottom: 50px;
	float: left;
	margin-right: 2px;
}
#e-info .i-table .table-all{
	margin-left: 10px;
    width: 360px;
}
#e-info .i-table .table-check{
	margin-right: 0px;
} 
#e-info .i-table .table-new{
	margin-right: 320px;
}
#e-info .i-table tbody{
	display: block;
	width: 100%;
	border: 1px #e6e6e6 solid;
	padding-top: 20px;
	padding-bottom: 20px;
}
#e-info .i-table tbody tr td{
	float: left;
	height: 80px;
	color: #3c3c3c;
	margin-left: 20px;
}
#e-info .i-table a{
	float: left;
}
#e-info .i-table .i-img-o img{
	width: 80px;
	height: 80px;
	margin-left: 0px;
}
#e-info .i-table .i-link-o{
	line-height: 10px;
	margin-left: 20px;
	margin-right: 20px;
    height: 40px;
	width: 200px;
	color: #3c3c3c;
}
#e-info .i-table .i-link-o:hover{color: #F22E00;text-decoration: underline;}
#e-info .i-table .i-kind-o{
    width: 172px;
    margin-right:0px;
    line-height: 10px;
    margin-left: 0px;
}
#e-info .i-table .i-money-o{
	/*margin-right: 50px;*/
	width: 150px;
	text-align: center;
}
#e-info .i-table .i-add-o a{
    float: left;
	height: 23px;
	width: 17px;
	border: 1px solid #e5e5e5;
	background: #f0f0f0;
	text-align: center;
	line-height: 23px;
}
#e-info .i-table .i-add-o input{
	float: left;
	width: 39px;
	height: 15px;
	line-height: 15px;
	border: 1px solid #aaa;
	color: #343434;
	text-align: center;
	padding: 4px 0;
	background-color: #fff;
}
#e-info .i-table .i-add-o{
	margin-right: 30px;
	margin-left: 50px;
	width: 150px;
	text-align: center;
}
#e-info .i-table .i-total-o{
    color: #f40;
    font-weight: 700;
    margin-right: 40px;
    width: 150px;
    text-align: center;
}
/***************e-infor结束****************/
/***************e-order开始****************/
#e-order .or-right{
    float: right;
    border: 1px solid #f50;
	font-size: 12px;
	display: inline-block;
	background: #fff0e8;
	padding: 1px 10px 10px 20px;
	line-height: 20px;
	color: #404040;
	min-width: 230px;
	margin-top: 30px;
  }
#e-order .or-play{
	float: right;
	line-height: 16px;
    margin: 0 0 15px;
    font-size: 14px;
}
#e-order .or-play span{
	font-size: 26px;
	margin-right: 4px;
}
#e-order .or-play span em{
	color: #ff4200;
    font: 700 26px tahoma;
}
#e-order .or-play .address{
	clear: both;
}
#e-order .or-play .address .p{
	float: right;
}
#e-order .or-cart{
	clear: both;
	float: right;
	line-height: 36px;
}
#e-order .or-cart a:hover{color: #f60;
text-decoration: underline;}
#e-order .or-cart .or-cart-return{
	display: inline-block;
	width: 70px;
}
#e-order .or-cart .or-cart-smb{
	display: inline-block;
	height: 36px;
	font: 400 18px/36px arial;
	font-size: 18px;
	background-color: #f50;
	color: #fff;
	text-align: center;
	cursor: pointer;
	padding-right: 20px;
	padding-left: 20px;
	margin-bottom: 30px;
	margin-left: 100px;
}
/***************e-order结束****************/